.button {
  max-width: 20rem;
  min-width: 15rem;
  font-size: 1rem;
  font-weight: 600;
}

.confirm {
  background-color: rgb(6, 13, 13);
  border: 0.2rem solid rgb(6, 13, 13);
  border-radius: 0.5rem;
  color: whitesmoke;
  cursor: pointer;
  padding: 1rem;
  margin: 0.5rem 0;
}

.cancel {
  background-color: whitesmoke;
  border: 0.2rem solid rgb(6, 13, 13);
  border-radius: 0.5rem;
  color: rgb(6, 13, 13);
  cursor: pointer;
  padding: 1rem;
  margin: 0.5rem 0;
}

@media (max-width: 1000px) {
  .button {
    max-width: 15rem;
    font-size: 1rem;
    font-weight: 600;
  }
}