.currency_element_container {
  min-width: 70rem;
  width: 95%;
  min-height: 3rem;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
  background-color: whitesmoke;
  border-radius: 1rem;
  box-shadow: 0 3px 3px -1px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0 3px 3px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 3px 3px -1px rgba(0,0,0,0.75);
  margin: 0.25rem 0;
  cursor: pointer;
}

.currency_element_container:hover {
  filter: brightness(1.1);
}

.currency_element_container:active {
  filter: brightness(0.9);
}

.flag_container {
  min-width: 15rem;
  max-width: 15rem;
  padding: 0 1em;
  max-height: 2rem;
  min-height: 2rem;
  border-right: 0.2rem solid rgb(6, 13, 13);
  font-weight: 600;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
}

.flag_container *:first-child {
  margin-right: 0.5rem;
}

.information_container {
  width: 70%;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}