.currency_box {
  width: 95%;
  max-width: 85rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 2rem;
  background-color: white;
  padding-bottom: 2rem;
  margin: 4rem 0 10rem 0;
  overflow: hidden;
}

.currency_box_label {
  width: 80%;
  max-width: 80rem;
  height: 5rem;
  background-color: rgb(6, 13, 13);
  border-radius: 0.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.currency_display {
  min-height: 40rem;
}

@media (max-width: 1500px) {
  .currency_box_label {
    font-size: 0.9rem;
  }
}

@media (max-width: 1200px) {
  
}

@media (max-width: 1000px) {
  .currency_box_label {
    font-size: 0.8rem;
  }
}