.page_container {
  width: 100%;
  max-width: 80rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.graph_container {
  width: 80%;
  max-width: 70rem;
  height: 25rem;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 1.5rem;
  overflow: hidden;
  margin: 0 0 2rem 0;
  box-shadow: 0 5px 10px 0 black;
}

.graph_type_button_section {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 1000px) {
  .panel_container {
    height: 20rem;
    flex-direction: column;
  }

  .currency_calculator_section {
    width: 100%;
  }

  .button_section {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
  }
}